.iconRecentDocuments{
    color: #d6ca1f;
    font-size: 20px;
    font-weight: 700;
    margin-right: 4px;

}
.nameRecentDocuments{
    color: #0f2f7f;
    font-size: 20px;
    font-weight: 700;
}

.timeRecentDocuments{
    margin-left: 24px;
    color: grey;
}
